{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header h1 text-center">Clients</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N° Compte</th>
                                    <th>Client</th>
                                    <th>Solde</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if clients|length > 0 %}
                                    {% for client in clients %}
                                        <tr>
                                            <td>{{ client.account.number }}</td>
                                            <td>{{ client.name }}</td>
                                            <td class="fw-bold {{ client.account.balance > 0 ? 'text-success' : 'text-danger' }}">{{ client.account.balance }} €</td>
                                            <td>
                                                <a class="btn btn-primary" href="{{ path('app_admin_dashboard_client_overview',{id:client.id}) }}">Aperçu</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">Aucun clients</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
